* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Basic';
    text-decoration: none;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar button {
    width: 100px;
    padding: 10px 0;
    margin: 20px 10px;
    border-radius: 25px;
    background: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.bg-img {
    width: 100%;
    height: 100dvh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../img/home-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    width: 70px;
    cursor: pointer;
    border-radius: 100%;
}

.content {
    color: white;
    text-align: center;
    padding-bottom: 2rem;
}

.content h1 {
    font-size: 55px;
}

.content h3 {
    font-size: 30px;
}

.content p{
    font-size: 18px;
}

.features {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding: 20px 0;
}

.features p {
    color: white;
}

.cs-duo {
    width: 100%;
    height: 250px;
    border-radius: 100%;
    filter: contrast(0);
    transition: 0.5s;
}

.cs-duo:hover {
    transition: 0.5s;
    width: 100%;
    height: 250px;
    background-image: url(../img/cs-background.jpg);
    background-size: cover;
    filter: contrast(1);
}

.feat1 {
    text-align: center;
    font-size: 0px;
}

.feat1 p {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.feat1:hover {
    transition: 0.5s;
    font-size: 30px;
    filter: drop-shadow(0 0 1.75rem rgb(103, 107, 43));
}

.duo-dbd {
    width: 100%;
    height: 250px;
    border-radius: 100%;
    filter: contrast(0);
    transition: 0.5s;
}

.duo-dbd:hover {
    transition: 0.5s;
    width: 100%;
    height: 250px;
    background-size: cover;
    background-image: url(../img/dbd-forest-background.jpg);
    filter: drop-shadow(0 0 1.75rem rgb(35, 37, 57));
    filter: contrast(1);
}

.feat2 {
    text-align: center;
    font-size: 0px;
}

.feat2 p {
    font-family: 'Roboto';
    font-weight: bold;
    text-transform: uppercase;
}

.feat2:hover {
    transition: 0.5s;
    font-size: 21px;
}